<header>
    <nav style="display:flex;">
        <span>
            <a href="index.html">Home</a>
        </span>
        <span style="align-self: flex-end; margin-left: auto;">
            <a href="about.html">About</a>
        </span>
    </nav>
</header>
